body {
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

img,
div {
    position: absolute;
}

img,
.mapmarker,
#terms {
    visibility: hidden;
}

#bannerContainer {
    background-color: #000000;
    width: 300px;
    height: 250px;
    display: block;
    overflow: hidden;
}

#black-overlay {
    width: 100%;
    height: 100%;
    background: #000;
}

#bgexit {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid #a5a5a5;
    box-sizing: border-box;
}


/*---------- BGS ----------*/

.bgimage {
    left: -10%;
    top: -10%;
}


/*---------- HEADLINES ----------*/

.headline {
    right: -2px;
    bottom: 66px;
}


/*---------- BOOKMARK ----------*/

#bookmark-base {
    left: 93px;
    top: 182px;
    width: 197px;
    height: 68px;
    overflow: hidden;
}

#bookmark-base img {
    visibility: visible;
}

.location,
#bookmark-divider,
#pnz-small {
    left: 148px;
}

.location {
    bottom: 34px;
}

#bookmark-divider {
    top: 221px;
    width: 132px;
    height: 1px;
    background: #a5a5a5;
}

#pnz-small {
    bottom: 7px;
}


/*---------- MAP ----------*/

#map {
    left: 108px;
    top: 194px;
}

.mapmarker {
    background: #f26122;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

#mapmarker1 {
    left: 125px;
    top: 198px;
}



/*---------- ENDFRAME ----------*/

#partner-logo,
#offer,
#price,
#btn-cta,
#pnz-large,
#terms {
    left: 30px;
}

#partner-logo {
    top: 11px;
}

#offer {
    top: 50px;
}

#price {
    top: 101px;
}

#btn-cta {
    top: 151px;
}

#pnz-large {
    bottom: 26px;
}

#terms {

    bottom: 7px;
}